html,body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100vw;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float:left;
  
}
nav{
    padding: 20px;
    height: 35px;
    margin:0;
    background-color: #ffffff;
}

nav ul li{
    display: inline;
    margin-left:30px;
    font-size: 18px;
    
}

a{
    text-decoration: none;
    
}
nav a{
    color: rgb(48, 48, 48);
}

nav a:hover{
    color: rgb(0, 162, 22);
}
.head-container{
    background-size: cover;
    min-height:50vh;
    max-width:100vw;
    margin:0;
    padding:30px;
    background-image: url('/images/cover.jpg');
    color:white;
    overflow: hidden;

}
.head-container h1{
    font-size:70px;
    margin-bottom: 0;
}
.head-container h3{
    font-size:23;
font-weight: 500;
    margin-top: 0;
}
.search-form{
    float:right;
}

.search-items{
    
    height:35px;
    width:200px;
    border-radius: 0;
    margin-right:20px;
    border:0;
    border-bottom: 0.5px solid grey;
}
.button{
    height:35px;
    border:none;
    width:80px;
    border-radius:6px;
    background-color: #009340;
    color: white;
}

h2{
    color: #006b2e;
    font-size: xx-large;
    
}

.main{
    padding:40px;
}
.main p{
    text-align: justify;
}
.card-section{
    background-color: rgb(234, 234, 234);
    padding:40px;overflow: hidden;
}
.row{
    display: flex;
    margin: 0;

}
.card{
    background-color: #ffffff;
    border-radius: 10px;
    width:20vw;
    overflow: hidden;
    margin: 10px;
    
}
.card img{
    height:150px;
    width:100%;overflow: hidden;
}
h4{
    color: #006b2e;
    margin: 0;overflow: hidden;
    padding: 2px 20px 2px 2px;
    font-size: x-large;
}
.card-container{
    margin: 0;
    font-size: small;overflow: hidden;
    color: rgb(108, 108, 108);
    padding: 10px;
    padding-bottom: 20px !important;
}